<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="d-flex align-items-center flex-column">
    <h1>Seleccione el tamaño de su vereda</h1>
    <div class="d-flex align-items-center gap-2 flex-column mt-4">
      <button mat-flat-button color="primary" class="w-100">
        Angosta (Menor a 2.4 mts)
      </button>
      <button mat-flat-button color="primary" class="w-100">
        Mediana (Entre 2.4 mts y 3.4 mts)
      </button>
      <button mat-flat-button color="primary" class="w-100">
        Angosta (Mayor a 3.4 mts)
      </button>
    </div>
  </div>
</div>
